.passwords-container {
  background-color: #5763a5;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 13px;
}

.password-header-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password-heading {
  color: #f8fafc;
  margin-right: 5px;
}

.password-count {
  color: #f8fafc;
  width: 24px;
  border: 1px solid #f8fafc;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
}

.password-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.password-search-logo {
  width: 30px;
  padding: 5px;
}

.password-input-ele {
  border: 0px;
  padding: 5px;
  border-left: 1px solid #b6c3ca;
  outline: none;
}

.hr-ele {
  width: 90%;
  color: #b6c3ca;
  margin-top: 0px;
}

.password-list-items {
  width: 90%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.no-password-image {
  width: 250px;
  margin-bottom: 15px;
}

.checkbox-container {
  align-self: flex-end;
  margin-right: 60px;
}

.label-ele {
  color: #f8fafc;
}

.no-password {
  color: #f8fafc;
}
